/.env
/node_modules
/dist
/expo-asset/tools/hashAssetFiles.js
/expo-asset/tools/hashAssetFiles.d.ts
/expo-asset/tools/hashAssetFiles.js.map
/expo-asset/tools/hashAssetFiles.mjs
/expo-asset/tools/hashAssetFiles.mjs.map
/expo-asset/tools/hashAssetFiles.cjs
/expo-asset/tools/hashAssetFiles.cjs.map
/expo-asset/tools/hashAssetFiles.ts
/expo-asset/tools/hashAssetFiles.tsx
/expo-asset/tools/hashAssetFiles.jsx
/expo-asset/tools/hashAssetFiles.json
/expo-asset/tools/hashAssetFiles.yaml
/expo-asset/tools/hashAssetFiles.yml
/expo-asset/tools/hashAssetFiles.xml
/expo-asset/tools/hashAssetFiles.ini    
/expo-asset/tools/hashAssetFiles.conf
/expo-asset/tools/hashAssetFiles.cfg

